
.login {
    margin: 0px auto;

    h2 {
        margin: 0px 0px 20px;
        color: rgb(19, 19, 202);
        font-size: 26px;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 21vh 35vw;   
        padding: 3%;
        background-color: rgb(241, 241, 241);
        box-shadow:  1px 1px 5px rgb(233, 231, 231);
        border-radius: 20px;

        @media (max-width: 1000px) {
            margin: 25vh 30vw;  
        }

        @media (max-width: 700px) {
            margin: 25vh 25vw;  
        }

        @media (max-width: 500px) {
            margin: 25vh 15vw;  
        }
        
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 97%;
    
        span {
            font-style: italic;
        }
        
        input {
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
            border-radius: 5px;
            outline: none;
            border: 1px solid blue;
            cursor: pointer;

            &:focus {
                border: 1.5px solid blue;;
            }

            &[type='submit'] {
                align-self: center;
                margin: 10px 0px;
                width: 60%;
                height: 35px;
                background: rgb(99, 99, 240);
                border: 1px solid rgb(99, 99, 240);
                color: white;
            }
        } 

    } 

    span.redirect {
        color: blue;
    }

    a:focus, a:active, a:visited {
        color: rgb(19, 19, 202);
    }


}