.registration {
    margin: 0px auto;

    span {
        align-self: flex-start;
        margin: 0px 0px 15px 10px;
    }
   
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 20vh 35vw;   
        padding: 3%;
        border: 1px solid blue;
        border-radius: 20px;

        @media (max-width: 1000px) {
            margin: 25vh 30vw;  
        }

        @media (max-width: 700px) {
            margin: 25vh 25vw;  
        }

        @media (max-width: 500px) {
            margin: 25vh 15vw;  
        }


        h2 {
            margin: 0px 0px 20px;
            color: rgb(19, 19, 202);
            font-size: 26px;
        }
       
    }

    
    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 97%;
    
        label {
            font-style: italic;
        }
        
        input, select {
            width: 100%;
            height: 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            outline: none;
            border: 1px solid blue;
            box-sizing: border-box;
            cursor: pointer;

            &:focus {
                border: 1.5px solid blue;;
            }

            &[type='submit'] {
                align-self: center;
                margin: 10px 0px;
                width: 60%;
                height: 25px;
                background: rgb(99, 99, 240);
                border: 1px solid rgb(99, 99, 240);
                color: white;
            }
        }

        select {
            margin-top: 10px;
        }



    }


}