
.item {
    position: relative;
    margin-bottom: 10px;
    width: 350px;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    // font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    input[type=checkbox] {
        margin: 0px 5px 0px 10px;
        max-width: 20px;
        height: auto;
    }

    &-icons {
        position: absolute;
        right: 10px;
        
        &-edit {
            max-width: 15px;
            height: auto;
            cursor: pointer;
        } 

        &-delete {
            max-width: 15px;
            height: auto;
            cursor: pointer;              
        }
    }

}

input {
    border: none;
    outline: none;
    font-size: 20px;
}