.users {
    margin: 0px auto;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 20%;
        border: 1px solid blue;
        border-radius: 20px;

        h2 {
            margin: 20px 0px;
            color: rgb(19, 19, 202);
            font-size: 26px;
        }


        input{
            margin-bottom: 20px;
            width: 40%;
            height: 20px;
            border-radius: 5px;
            outline: none;
            border: 1px solid blue;
            text-indent: 10px;
            font-style: italic;
            box-sizing: border-box;
            cursor: pointer;
        }

        .user {
            display:flex;
            align-items:center;
            width: 80%;
            height: 25px;
            margin-bottom: 15px;
            border-radius: 5px;
            text-indent: 10px;
            border: 1px solid blue;
        }
    }


}